html,body
{
	height:100%;
	margin : 0;
}

/* div wrap permettant d'occuper tout l'espace de la page pour permettre le bon fonctionnement du footer  */
#wrap 
{
  min-height: 100%;
  margin-bottom: 0px;
}

header
{
	position: absolute;
	width: 100%;
	height : 90px;
	top: 0;
	color: #FFFFFF;
	text-align: center;
	background: #293133;	
}

footer, a
{
  position: relative;
  background-color: #293133;
  color: white;
  text-align: center;
  clear: both;
  height: 140px;
  margin-top: 0px;
}

body
{
  position : relative;
  width: 100%;
  margin: 0;
  background: #EAEDED;
  color: #000000;
  font-family: 'Zilla Slab', serif;
  min-height: 100%;
}

.tab
{
  margin : 80px;
}

.texte_en_dessous
{
	height: auto;
	text-align: justify;
	padding-left: 7%;
	padding-right: 7%;
	font-size: 20px;
	padding-top : 6%;
	padding-bottom : 2%;
}

.videochappie
{

	padding-left: 25%;
	padding-right: 25%;
	
}

/* Début css Neuralink - Alexandre */

.neuralink
{
	float: left;
	min-width: 50%;
	width: 50%;
	size: 50%;
	margin-left: 20px;
	margin-bottom: 20px;
}

.videoNeuralink
{
	padding-left: 50px;
	padding-top: 130px;
}

.puce
{
	float: right;
	min-width: 20%;
	width: 30%;
	size: 50%;
	margin-right: 50px;
	margin-top: 130px;
}

.texte
{
	height: auto;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20px;
	padding-top: 3%;
	padding-bottom: 3%;
	display: flex;
}

/* Fin css Neuralink - Alexandre */

.h3_footer
{
	padding-right: 150px;
}

.logo_iut
{
	width: auto;
	height: 100%;
	position:absolute;
	bottom:0px;
	right:0px;
}

.textCentrale
{
	height: auto;
	text-align: justify;
	padding-left: 7%;
	padding-right: 7%;
	font-size: 20px;
	padding-top: 10%;
}

.fit-picture-cerveau
{
	float: left;
	margin-right: 12px;
	min-width: 19%;
	width: 19%;
	size: 20%;	
}
.fit-picture
{
	float: left;
	margin-right: 12px;
	min-width: 50%;
	width: 50%;
	size: 50%;
}

.videochappie
{
	text-align: center;
}
    /* Css Jason */
.text
{
	display: flex;
	flex-direction: column;
	
}	
	
.titre
{
	text-align: center;
}

#JC
{
	float: left;
	margin-right: 12px;
	min-width: 600px;
  width: 50%; 
}

#up
{
  position: fixed;
  width: 3%; 
  right: 1%;
  bottom: 15%;
  opacity: 20%;
}


    /* Fin css Jason */
	
	/* Debut css Gwenael*/
.video
{
	padding-left : 33%;
	padding-right : 33%;
	height : 250px;
	width: 450px;
}
#texte
{
	text-align : center;
}
	/* Fin css Gwenael*/
.logo
{
	width: auto;
	height: 100%;
	position:absolute;
	top:0px;
	right:0px;
}

table{
	border : medium solid #293133;
	border-collapse: collapse;
}

tr,td{
	border: thin solid #293133;
}

#menuToggle
{
  display: block;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
    position: absolute;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -30px;
  left: -6px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  top: -20px;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 20;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #696969;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height : 100%;
  background-color: rgba(105, 105, 105, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  /* to stop flickering of text in safari */
  font-size : 20%;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}